{{#each events}}
<div class="event-cont">
  <div class="left">
    <time>{{startMonth}} {{startDay}} - {{endMonth}} {{endDay}}, {{endYear}}</time>
    <p class="venue">{{venue}}</p>
    <p>{{cityState}}</p>
  </div>
  <div class="right">
    <h4><a href="{{link}} target="_blank">{{title}}</a></h4>
    <p>{{description}}</p>
  </div>
</div><!--/.event-cont-->
{{/each}}
