<li class="first"><a href="">Dashboard</a></li>
<li id="experiment-nav-item" data-show-user-state="logged-in">
    <a href="" class="dropdown-arrow" data-dropdown="experiments">Experiments</a>
    <ul class="dropdown-menu-top" data-show-dropdown="experiments">
      <div class="message"></div>
      {{#each experiments}}
        <span class="experiment-container">
          <li>
            <a class="edit" 
              {{#if can_edit}}href="https://www.optimizely.com/edit?experiment_id={{id}}"{{/if}}
              {{#unless has_started}}style="width: auto;"{{/unless}}
              >
              <span class="experiment-description">{{description}}</span>
            </a>
            
            <a class="experiment-results" 
              {{#if can_edit}}href="https://www.optimizely.com/edit?experiment_id={{id}}"{{/if}}
              {{#unless has_started}}style="display: none;"{{/unless}}
              >
              {{#if has_started}}
              Results
              {{/if}}
            </a>
          </li>
        </span>
      {{/each}}
      <li class="view-all-experiments" data-show="dashboard-link">
        <a id="view-all-experiments-link" href="https://www.optimizely.com/dashboard?project_id={{account_id}}">
          <span>View All Experiments</span>
        </a>
      </li>
      <li class="show-create-experiment" data-modal-click="create-exp">
        <span>+ </span><a href="javascript:void(0)">Create New Experiment</a>
      </li>
    </ul>
</li>
<li><a href="">Implementation</a></li>
<li><a href="">Learning center</a></li>
<li id="my-account-menu">
    <a class="customer-email dropdown-arrow" href="" data-dropdown="account">{{email}}</a>
    <ul class="dropdown-menu-top" data-show-dropdown="account">
        <li><a href="/account">Account Setting</a></li>
        <li><a data-logout >Log Out</a></li>
    </ul>
</li>