---
layout: page.hbs
seo_title: Optimizely Partners
visible_title: Optimizely Partners
sub_head: World-class service providers. Empowered customers. Lasting results.
body_class:
- integrations-solutions
page_script:
- solutions.js
script_dependencies:
- //cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js
---

<div class="columns twelve">
  <div class="row">
    <div class="columns six">
      <h2>{{{partners.solutions.page_heading}}}</h2>
    </div>
    <div class="columns six">
      <div class="pill clearfix big">
        <a href="{{linkPath}}/partners/integrations">{{{partners.integrations.pill_title}}} ({{#integrations}}{{length pages}}{{/integrations}})</a>
        <a class="active" href="{{linkPath}}/partners/solutions">{{{partners.solutions.pill_title}}} ({{#solutions}}{{length pages}}{{/solutions}})</a>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="columns seven">
      <p>{{{partners.solutions.page_intro}}}</p>
    </div>
    <div class="columns five learn-more">
      {{{partners.solutions.apply_link_intro}}}
      <a class="big" href="http://pages.optimizely.com/OptimizelySolutionsPartnerRegistration.html">{{{partners.solutions.apply_link_text}}} &gt;</a>
    </div>
  </div>

  <div class="row">
    <div class="columns twelve filter">
      <div class="pill clearfix">
        <div class="heading">{{{partners.solutions.filter.title}}}:</div>
        <div class="dropdown-cont dropdown-cont--region">{{{partners.solutions.filter.region}}} &#9662;
          <ul>
            {{#each partners.solutions.filter.regions}}
              <li class="filter-item" data-filter="{{ createClassList this }}">{{this}}</li>
            {{/each}}
          </ul>
        </div>
        <div class="dropdown-cont">{{{partners.solutions.filter.stars}}} &#9662;
          <ul>
            <li class="filter-item" data-filter="3-star">
              <span class="star-cont star-cont--3"></span>
            </li>
            <li class="filter-item" data-filter="2-star">
              <span class="star-cont star-cont--2"></span>
            </li>
            <li class="filter-item" data-filter="1-star">
              <span class="star-cont star-cont--1"></span>
            </li>
          </ul>
        </div>
        <div class="dropdown-cont dropdown-cont--columns">{{{partners.solutions.filter.vertical}}} &#9662;
          <ul>
            {{#each tags}}
            <li class="filter-item" data-filter="{{createClassList tag}}">{{tag}}</li>
            {{/each}}
          </ul>
        </div>
        <a href="#" class="filter--reset tooltip-hover" data-content="Reset filters">X</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="integrations-container container">
      <div class="integrations-message">
        <p>{{{partners.solutions.filter.no_results}}}</p>
      </div>
      <div class="row partner-grid">
        {{#solutions}}
          {{#each pages}}
            <div class="partner-grid-elm {{#if data.stars}}{{data.stars}}-star{{/if}} {{#each data.locations}}{{createClassList this.location.region}}{{/each}} {{#each data.tags}}{{createClassList this}}{{/each}}" data-priority="{{data.priority}}">
              <div class="title-container">
                <h4 class="partner-title"><a href="{{linkPath}}/{{this.dest}}">{{data.title}}</a></h4>
                {{#each data.locations}}
                  <div class="partner-location {{#if @first}}active{{/if}}" data-region="{{createClassList this.location.region}}">{{this.location.city}}, {{stateCountry this.location.state this.location.country }}</div>
                {{/each}}
                {{!-- todo(ccorda) need to check if country = usa, show state if so, should country otherwise.  Probably need handlebar-helpers is/isnt --}}
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <a href="{{linkPath}}/{{this.dest}}" class="partner-logos" style="background-image: url('{{data.logo}}');"></a>
                <div class="level">
                  <div class="level-heading">{{{../../partners.solutions.filter.stars}}}: <span class="tooltip-hover tooltip-hover--sup" data-content="lorem ipsum dolor">?</span></div>
                  <div class="star-cont {{#if data.stars}}star-cont--{{data.stars}}{{/if}}"></div>
                </div>
              </div>
              <div class="button-container">
                <a href="{{linkPath}}/{{this.dest}}" class="button">{{{../../partners.more}}} &gt;</a>
              </div>
            </div>
          {{/each}}
        {{/solutions}}

      </div><!-- /.partner-grid -->
    </div><!-- /.integrations-container-->
  </div><!-- /.row -->
</div><!-- /.columns -->
