---
layout: page.hbs
seo_title: Optimizely Partners
visible_title: Optimizely Partners
sub_head: World-class service providers. Empowered customers. Lasting results.
body_class:
- integrations-solutions
page_script:
- solutions.js
script_dependencies:
- //cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js
---

<div class="columns twelve">
  <div class="row">
    <div class="columns six">
      <h2>{{{partners.solutions.page_heading}}}</h2>
    </div>
    <div class="columns six">
      <div class="pill clearfix big">
        <a href="{{linkPath}}/partners/integrations">{{{partners.integrations.pill_title}}} ({{#integrations}}{{length pages}}{{/integrations}})</a>
        <a class="active" href="{{linkPath}}/partners/solutions">{{{partners.solutions.pill_title}}} ({{#solutions}}{{length pages}}{{/solutions}})</a>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="columns seven">
      <p>{{{partners.solutions.page_intro}}}</p>
    </div>
    <div class="columns five learn-more">
      {{{partners.solutions.apply_link_intro}}}
      <a class="big" href="http://pages.optimizely.com/OptimizelySolutionsPartnerRegistration.html">{{{partners.solutions.apply_link_text}}} &gt;</a>
    </div>
  </div>

  <div class="row">
    <div class="columns filter">
      <div class="pill clearfix">
        <div class="heading">Filter By:</div>
        <div class="dropdown-cont dropdown-cont--region">Region &#9662;
          <ul>
            <li class="filter-item" data-filter="{{ createClassList 'Asia Pacific'}}">Asia Pacific</li>
            <li class="filter-item" data-filter="{{ createClassList 'EMEA - France'}}">EMEA - France</li>
            <li class="filter-item" data-filter="{{ createClassList 'EMEA - Germany'}}">EMEA - Germany</li>
            <li class="filter-item" data-filter="{{ createClassList 'EMEA - UK'}}">EMEA - UK</li>
            <li class="filter-item" data-filter="{{ createClassList 'EMEA - Netherlands'}}">EMEA - Netherlands</li>
            <li class="filter-item" data-filter="{{ createClassList 'EMEA - Other'}}">EMEA - Other</li>
            <li class="filter-item" data-filter="{{ createClassList 'North America - US East'}}">North America - US East</li>
            <li class="filter-item" data-filter="{{ createClassList 'North America - US Central'}}">North America - US Central</li>
            <li class="filter-item" data-filter="{{ createClassList 'North America - US West'}}">North America - US West</li>
            <li class="filter-item" data-filter="{{ createClassList 'North America - Other'}}">North America - Other</li>
            <li class="filter-item" data-filter="{{ createClassList 'South America / Central America'}}">South America / Central America</li>
          </ul>
        </div>
        <div class="dropdown-cont">Star Rating &#9662;
          <ul>
            <li class="filter-item" data-filter="3-star">
              <span class="star-cont star-cont--3"></span>
            </li>
            <li class="filter-item" data-filter="2-star">
              <span class="star-cont star-cont--2"></span>
            </li>
            <li class="filter-item" data-filter="1-star">
              <span class="star-cont star-cont--1"></span>
            </li>
          </ul>
        </div>
        <div class="dropdown-cont dropdown-cont--columns">Industry &#9662;
          <ul>
            {{#each tags}}
            <li class="filter-item" data-filter="{{createClassList tag}}">{{tag}}</li>
            {{/each}}
          </ul>
        </div>
        <a href="#" class="filter--reset tooltip-hover" data-content="Reset filters">X</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="integrations-container container">
      <div class="integrations-message">
        <p>No results found</p>
      </div>
      <div class="row partner-grid">
        {{#solutions}}
          {{#each pages}}
            <div class="partner-grid-elm {{#if data.stars}}{{data.stars}}-star{{/if}} {{createClassList data.region}} {{#each data.tags}}{{createClassList this}}{{/each}}" data-priority="{{data.priority}}">
              <div class="title-container">
                <h4 class="partner-title"><a href="{{linkPath}}/{{this.dest}}">{{data.title}}</a></h4>
                {{#each data.locations}}
                  <div class="partner-location" data-region="{{createClassList this.item.region}}">{{this.item.city}}{{#if this.item.city}}{{#if this.item.state}}, {{/if}}{{/if}}{{this.item.state}}</div>
                {{/each}}
                {{!-- todo(ccorda) need to check if country = usa, show state if so, should country otherwise.  Probably need handlebar-helpers is/isnt --}}
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <a href="{{linkPath}}/{{this.dest}}" class="partner-logos" style="background-image: url('{{data.logo}}');"></a>
                <div class="level">
                  <div class="level-heading">Certification Level: <span class="tooltip-hover" data-content="lorem ipsum dolor">?</span></div>
                  <div class="star-cont {{#if data.stars}}star-cont--{{data.stars}}{{/if}}"></div>
                </div>
              </div>
              <div class="button-container">
                <a href="{{linkPath}}/{{this.dest}}" class="button">Learn More &gt;</a>
                <!-- {{ this.dest }}-->
              </div>
            </div>
          {{/each}}
        {{/solutions}}

      </div><!-- /.partner-grid -->
    </div><!-- /.integrations-container-->
  </div><!-- /.row -->
</div><!-- /.columns -->
