---
layout: page.hbs
seo_title: Optimizely Partners
visible_title: Optimizely Partners
sub_head: World-class service providers. Empowered customers. Lasting results.
body_class:
- integrations-solutions
script_dependencies:
- '/../bower_components/isotope/dist/isotope.pkgd.min.js'
- '/dist/assets/js/pages/solutions.js'
---
<div class="columns twelve">
  <div class="row">
    <div class="columns six">
      <h2>Integrations</h2>
    </div>
    <div class="columns six page-selector">
      <div class="pill clearfix big">
        <a href="{{linkPath}}/partners/integrations">Integrations (??)</a>
        <a class="active" href="{{linkPath}}/partners/solutions">Solutions Partners (??)</a>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="columns seven">
      <p>As the global leader in website optimization, Optimizely is focused on developing the most robust and intuituve testing platform on the planet. Enabling our customers when needed, we partner with the best service providers around the world so that our clients never have to compromise.
    </div>
    <div class="columns five learn-more">
      If you would like to learn more
      <a class="big" href="#">Apply to Become a <br /> Solutions Partner Today! &gt;</a>
    </div>
  </div>

  <div class="row">
    <div class="columns filter">
      <div class="pill clearfix">
        <div class="heading">Filter By:</div>
        <div class="dropdown-cont">Region &#9662;
          <ul>
            <li class="active filter-item">Northeast</li>
            <li class="filter-item">Southeast</li>
            <li class="filter-item">Northwest</li>
          </ul>
        </div>
        <div class="dropdown-cont">Star Rating &#9662;
          <ul>
            <li class="filter-item"><span class="star-cont star-cont--1"></span></li>
            <li class="filter-item active"><span class="star-cont star-cont--2"></span></li>
            <li class="filter-item"><span class="star-cont star-cont--3"></span></li>
          </ul>
        </div>
        <div class="dropdown-cont">Industry &#9662;
          <ul>
            <li class="filter-item">Technology</li>
            <li class="filter-item">Metalurgy</li>
            <li class="filter-item">Alchemy</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="integrations-container container">
      {{!-- {{#each customer_info.customerList}}
        {{#classgridstart @index}}
          <div class="row">
        {{/classgridstart}}--}}


          <div class="row partner-grid">
            <div class="partner-grid-elm">
              <div class="title-container">
                <h4 class="partner-title">Analytics Pros</h4>
                <div class="partner-location">Seattle, WA</div>
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <div class="partner-logos" style="background-image: url(../../assets/img/customer-logos/{{logoUrl}}); width: {{logoW}}px; height: {{logoH}}px"></div>

                <div class="level">
                  <div class="level-heading">Certification Level:</div>
                  <div class="star-cont star-cont--3"></div>
                </div>
              </div>
              <div class="button-container">
                <a href="{{downloadUrl}}" class="button">Learn More &gt;</a>
              </div>
            </div>
            <div class="partner-grid-elm">
              <div class="title-container">
                <h4 class="partner-title">Analytics Pros</h4>
                <div class="partner-location">Seattle, WA</div>
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <div class="partner-logos" style="background-image: url(../../assets/img/customer-logos/{{logoUrl}}); width: {{logoW}}px; height: {{logoH}}px"></div>

                <div class="level">
                  <div class="level-heading">Certification Level:</div>
                  <div class="star-cont star-cont--3"></div>
                </div>
              </div>
              <div class="button-container">
                <a href="{{downloadUrl}}" class="button">Learn More &gt;</a>
              </div>
            </div>
            <div class="partner-grid-elm">
              <div class="title-container">
                <h4 class="partner-title">Analytics Pros</h4>
                <div class="partner-location">Seattle, WA</div>
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <div class="partner-logos" style="background-image: url(../../assets/img/customer-logos/{{logoUrl}}); width: {{logoW}}px; height: {{logoH}}px"></div>

                <div class="level">
                  <div class="level-heading">Certification Level:</div>
                  <div class="star-cont star-cont--3"></div>
                </div>
              </div>
              <div class="button-container">
                <a href="{{downloadUrl}}" class="button">Learn More &gt;</a>
              </div>
            </div>
            <div class="partner-grid-elm">
              <div class="title-container">
                <h4 class="partner-title">Analytics Pros</h4>
                <div class="partner-location">Seattle, WA</div>
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <div class="partner-logos" style="background-image: url(../../assets/img/customer-logos/{{logoUrl}}); width: {{logoW}}px; height: {{logoH}}px"></div>

                <div class="level">
                  <div class="level-heading">Certification Level:</div>
                  <div class="star-cont star-cont--3"></div>
                </div>
              </div>
              <div class="button-container">
                <a href="{{downloadUrl}}" class="button">Learn More &gt;</a>
              </div>
            </div>
            <div class="partner-grid-elm">
              <div class="title-container">
                <h4 class="partner-title">Analytics Pros</h4>
                <div class="partner-location">Seattle, WA</div>
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <div class="partner-logos" style="background-image: url(../../assets/img/customer-logos/{{logoUrl}}); width: {{logoW}}px; height: {{logoH}}px"></div>

                <div class="level">
                  <div class="level-heading">Certification Level:</div>
                  <div class="star-cont star-cont--3"></div>
                </div>
              </div>
              <div class="button-container">
                <a href="{{downloadUrl}}" class="button">Learn More &gt;</a>
              </div>
            </div>
            <div class="partner-grid-elm">
              <div class="title-container">
                <h4 class="partner-title">Analytics Pros</h4>
                <div class="partner-location">Seattle, WA</div>
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <div class="partner-logos" style="background-image: url(../../assets/img/customer-logos/{{logoUrl}}); width: {{logoW}}px; height: {{logoH}}px"></div>

                <div class="level">
                  <div class="level-heading">Certification Level:</div>
                  <div class="star-cont star-cont--3"></div>
                </div>
              </div>
              <div class="button-container">
                <a href="{{downloadUrl}}" class="button">Learn More &gt;</a>
              </div>
            </div>
            <div class="partner-grid-elm">
              <div class="title-container">
                <h4 class="partner-title">Analytics Pros</h4>
                <div class="partner-location">Seattle, WA</div>
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <div class="partner-logos" style="background-image: url(../../assets/img/customer-logos/{{logoUrl}}); width: {{logoW}}px; height: {{logoH}}px"></div>

                <div class="level">
                  <div class="level-heading">Certification Level:</div>
                  <div class="star-cont star-cont--3"></div>
                </div>
              </div>
              <div class="button-container">
                <a href="{{downloadUrl}}" class="button">Learn More &gt;</a>
              </div>
            </div>
            <div class="partner-grid-elm">
              <div class="title-container">
                <h4 class="partner-title">Analytics Pros</h4>
                <div class="partner-location">Seattle, WA</div>
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <div class="partner-logos" style="background-image: url(../../assets/img/customer-logos/{{logoUrl}}); width: {{logoW}}px; height: {{logoH}}px"></div>

                <div class="level">
                  <div class="level-heading">Certification Level:</div>
                  <div class="star-cont star-cont--3"></div>
                </div>
              </div>
              <div class="button-container">
                <a href="{{downloadUrl}}" class="button">Learn More &gt;</a>
              </div>
            </div>
            <div class="partner-grid-elm">
              <div class="title-container">
                <h4 class="partner-title">Analytics Pros</h4>
                <div class="partner-location">Seattle, WA</div>
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <div class="partner-logos" style="background-image: url(../../assets/img/customer-logos/{{logoUrl}}); width: {{logoW}}px; height: {{logoH}}px"></div>

                <div class="level">
                  <div class="level-heading">Certification Level:</div>
                  <div class="star-cont star-cont--3"></div>
                </div>
              </div>
              <div class="button-container">
                <a href="{{downloadUrl}}" class="button">Learn More &gt;</a>
              </div>
            </div>
          </div>


        {{!--{{#classgridfinish @index @last}}
          </div>
        {{/classgridfinish}}
      {{/each}}--}}
    </div> <!-- .case-studies-container -->
  </div>
</div>
