---
layout: page.hbs
visible_title: A/B Test Sample Size Calculator
body_class:
- sample-size-page
page_script: sample-size-calculator.js
---

{{#with sample_size_calculator.calculator_content}}
<div class="callout calc-wrapper">

  {{#each conversion}}
  <div class="row">
    <div class="columns one-third calc-percents">
      <label for="" class="calc-demo-title">{{demo}}</label>
      <div class="input-wrapper">
        {{#if @first}}
        <input type="number" min="0" value="3" data-calc-model="conversion">
        {{else}}
          {{#if @last}}
          <input type="number" min="0" value="20" data-calc-model="effect">
          {{/if}}
        {{/if}}
        <span>%</span>
      </div>
    </div>
    <div class="columns two-thirds">
      <p class="calc-content">{{description}}&nbsp;<a class="question-link" target="_blank" href="{{link}}">[?]</a></p>
    </div>
  </div>
  {{/each}}

  {{#each statistics}}
  <div class="row">
    <div class="columns one-third">
      <label for="" class="calc-demo-title">{{demo}}</label>
      {{#if @first}}
      <div class="calculator-variables"><span data-slider-label="power">80</span>%</div>
      <div class="stat-wrapper">
        <input id="power" class="optly-anim optly-hide" type="range" min="60" max="95" step="5" class="fade" data-calc-model="power" data-slider="power" />
        <button class="button-link optly-anim" data-slider="power" >{{button_text}}</button>
      </div>
      {{/if}}
      {{#if @last}}
      <div class="calculator-variables"><span data-slider-label="significance">95</span>%</div>
      <div class="stat-wrapper">
        <input id="significance" class="optly-anim optly-hide" type="range" min="80" max="99" step="1" class="fade" data-calc-model="significance" data-slider="significance" />
        <button class="button-link optly-anim" data-slider="significance" >{{button_text}}</button>
      </div>
      {{/if}}
    </div>
    <div class="columns two-thirds">
      <p class="calc-content">{{description}}&nbsp;<a class="question-link" target="_blank" href="{{link}}">[?]</a></p>
    </div>
  </div>
  {{/each}}

  {{#with tailed}}
  <div class="row">
    <div class="columns one-third">
      {{#each demo}}
      <div class="tails">
        <label for="">
        {{#if @first}}
        <input type="radio" name="tails" checked value="1" data-calc-model="tails">
        {{else}}
          {{#if @last}}
          <input type="radio" name="tails" value="2" data-calc-model="tails">
          {{/if}}
        {{/if}}
          <span>{{this}}</span>
        </label>
      </div>
      {{/each}}
    </div>
    <div class="columns two-thirds">
      <p class="calc-content last">{{description}}&nbsp;<a class="question-link" target="_blank" href="{{link}}">[?]</a></p>
    </div>
  </div>
  {{/with}}
  
  <div class="calc-sample-cont">
    <div class="sample-label">{{bottom_title}}</div>
    <div id="sample">10,316</div>
  </div>
  

</div>
{{/with}}

<div class="calc-faq-wrapper">
  {{#with sample_size_calculator.faq_content}}
  <h3>{{title}}</h3>
  <div class="calc-faq-cont">
    {{#each sections}}
    <div class="calc-faq-subtitle">{{sub_title}}</div>
    <p>
      {{description}}
      {{#if link}}
      <a href="{{link.path}}" target="_blank">{{link.title}}</a>
      {{/if}}
    </p>
    {{/each}}
  </div> 
  {{/with}}
</div>

{{#with sample_size_calculator.cta}}
<div class="calc-cta">
  <h4>{{title}}</h4>
  <a href="{{button.path}}" target="_blank" class="primary-button">{{button.text}}</a>
</div>
{{/with}}