---
layout: page.hbs
seo_title: Optimizely Partners
visible_title: Optimizely Partners
sub_head: World-class service providers. Empowered customers. Lasting results.
body_class:
- integrations-solutions
---
<div class="columns twelve">
  <div class="row">
    <div class="columns six">
      <h2>Integrations</h2>
    </div>
    <div class="columns six">
      <div class="pill clearfix big">
        <a class="active" href="{{linkPath}}/partners/integrations">Integrations ({{#integrations}}{{length pages}}{{/integrations}})</a>
        <a href="{{linkPath}}/partners/solutions">Solutions Partners ({{#solutions}}{{length pages}}{{/solutions}})</a>
      </div>
    </div>
  </div>

  <hr />

  {{!-- todo(ccorda): extract all text to YAML --}}
  <div class="row">
    <div class="columns seven">
      <p>As the global leader in website optimization, Optimizely is focused on developing the most robust and intuituve testing platform on the planet. Enabling our customers when needed, we partner with the best service providers around the world so that our clients never have to compromise.
    </div>
    <div class="columns five learn-more">
      To learn more about our integrations
      <a class="big" href="#">Visit the Developer's Portal &gt;</a>
    </div>
  </div>

  {{!-- todo(ccorda): gridstart isn't actually doing anything yet --}}
  {{!-- todo(ccorda): linkPath isn't working --}}
  {{!-- todo(ccorda): need to grab different sized images if they exist --}}

  <div class="row">
    <div class="integrations-container container">
      <div class="row partner-grid">
        {{#integrations}}
          {{#each pages}}
            <div class="partner-grid-elm" data-priority="{{data.priority}}">
              <div class="title-container">
                <h4 class="partner-title"><a href="{{linkPath}}/{{this.dest}}">{{data.title}}</a></h4>
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <a href="{{linkPath}}/{{this.dest}}" class="partner-logos" style="background-image: url({{linkPath}}/dist/assets/img/partner-logos/{{ data.logo }});"></a>
                <p>{{ data.summary }}</p>
              </div>
              <div class="button-container">
                <a href="{{linkPath}}/{{ this.dest }}" class="button">Learn More &gt;</a>
              </div>
            </div> <!-- .partner-grid-elm -->
          {{/each}}
        {{/integrations}}
      </div><!-- .partner-grid -->
    </div> <!-- .integrations-container -->
  </div>
</div>
