---
layout: page.hbs
seo_title: Integrations
visible_title: Integrations
sub_head: World-class service providers. Empowered customers. Lasting results.
body_class:
- integrations-solutions
---
<div class="columns twelve">

  <div class="row">
    <div class="columns seven">
      <p>{{{partners.integrations.page_intro}}}</p>
    </div>
    <div class="columns five learn-more">
      {{{partners.integrations.dev_link_intro}}}
      <a class="big" href="http://developers.optimizely.com/">{{{partners.integrations.dev_link_text}}} &gt;</a>
    </div>
  </div>

  <div class="row">
    <div class="integrations-container">
      <div class="row partner-grid">
        {{#integrations}}
          {{#each pages}}
            <div class="partner-grid-elm" data-priority="{{data.priority}}">
              <div class="title-container">
                <h4 class="partner-title"><a href="{{linkPath}}/{{this.dest}}">{{data.title}}</a></h4>
              </div> <!-- .title-container -->
              <div class="partner-inner-content">
                <a href="{{linkPath}}/{{this.dest}}" class="partner-logos" style="background-image: url('{{data.logo}}');"></a>
                <p>{{ data.summary }}</p>
              </div>
              <div class="button-container">
                <a href="{{linkPath}}/{{ this.dest }}" class="button">{{{../../partners.more}}} &gt;</a>
              </div>
            </div> <!-- .partner-grid-elm -->
          {{/each}}
        {{/integrations}}
      </div><!-- .partner-grid -->
    </div> <!-- .integrations-container -->
  </div>
</div>
