---
layout: wrapper_compiled.hbs
menu_items:
- text: "Agencies"
  url: "/partners"
- text: "Developers"
  url: "http://developers.optimizely.com/"
- text: "E-commerce"
  url: "/ecommerce"
- text: "Enterprises"
  url: "/enterprises"
- text: "Publishers"
  url: "/publishers"
- text: "Small Business"
  url: "/small-business"
- text: "your website..."
  url: "/benefits"
  class: hide
layout_body_class:
- benefits-layout
layout_script: benefits.js
---
<div id="main">
    <div id="page-header">
        <div class="container">
            <div class="clearfix page-subheader-cont">
                <h1>
                    {{#unless page.hide_h1_super}}<span class="super">Optimizely for</span>{{/unless}}
                    {{page.visible_title}}
                </h1>
                <ul class="sub-header-nav">
                    <li><a href="{{linkPath}}/pricing" class="pricing">Plans and Pricing</a></li>
                    <li><a href="{{linkPath}}/benefits" class="benefits">Benefits</a></li>
                    <li class="dropdown SL_hide">
                        <span class="for-menu-label">Optimizely for: </span>
                        <ul class="for-menu" data-current="{{dirname}}">
                            {{#menu_items}}
                            <li><a href="{{#isUrl url}}{{../../linkPath}}{{/isUrl}}{{url}}"{{#class}} class="{{.}}"{{/class}}>{{text}}</a></li>
                            {{/menu_items}}
                        </ul>
                    </li>
                </ul>
            </div><!---->
        </div><!--/.container-->
    </div><!--/#page-header-->
    <div id="page-header-gradient"></div>
    <div id="page-content">
        {{#unless page.no_container}}<div class="container row">{{/unless}}
        {{> body}}
        <div class="attention center-desktop row">
            <h3>Your improved site awaits <a href="{{linkPath}}/pricing" class="primary-button">View Plans &amp; Pricing</a></h3>
        </div>
        {{#unless page.no_container}}</div><!--/.container-->{{/unless}}
    </div><!--/#content-->
</div><!--/#main-->
