---
layout: wrapper.hbs
layout_script: false
layout_body_class:
- integrations-solutions
visible_title: Optimizely Partners
sub_head: World-class service providers. Empowered customers. Lasting results.
---
<div id="main">
  <div id="page-header">
    <div class="container">
      <h1>{{visible_title}}</h1>
      {{#if sub_head}}<p>{{sub_head}}</p>{{/if}}
    </div><!--/.container-->
  </div><!--/#page-header-->
  <div id="page-header-gradient"></div>
  <div id="page-content">
    <div class="container ugc">

      {{! todo(ccorda): make this all dynamic }}
      <div class="columns twelve">
        <div class="row single-partner-container">
          <div class="columns four">
            <div class="partners-back">
              {{#if solutions }}
                <a href="{{linkPath}}/partners/solutions">&lt; See all Solutions Partners</a>
              {{else}}
                <a href="{{linkPath}}/partners/integrations">&lt; See all Integrations Partners</a>
              {{/if}}
            </div>

            <div class="partners-logos" style="background-image: url({{linkPath}}/assets/img/partner-logos/{{logo}});"></div>

            <div class="partners-link">
              <a href="{{website_link}}">{{website_display}}</a>
            </div>

            <div class="partners-contact">
              {{#if phone}}{{phone}} <br />{{/if}}
              {{#if email}}{{email}} <br />{{/if}}
              <br />
              {{#if address1}}{{address1}} <br />{{/if}}
              {{#if address2}}{{address2}} <br />{{/if}}
              {{#if city}}{{city}}, {{/if}}{{#if state}}{{state}} {{/if}}{{zip}}<br />
            </div>

            {{#if languages}}
              <div class="partners-languages">
                <strong>LANGUAGES</strong> <br />
                {{#each languages}}{{.}}, {{/each}}
                {{!-- todo(ccorda): need something like this for trailing comma {{^last}}, {{/last}} --}}
              </div>
            {{/if}}
          </div>
          <div class="columns eight">
            <h4>{{title}}</h4>

            <div class="level">
              <div class="level-heading">Certification Level:</div>
              <div class="star-cont {{#if stars}}star-cont--{{stars}}{{/if}} star-left"></div>
            </div>

            {{#markdown}}
              {{> body}}
            {{/markdown}}

            {{#if tags}}
            <div class="partners-tags">
              {{#each tags}}<span>{{tag}}, </span>{{/each}}
            </div>
            {{!-- todo(ccorda): trim trailing comma --}}
            {{/if}}

            {{#if kb_article}}
            <a class="button" href="{{kb_article}}">
              Read Knowlege Base Article
            </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div><!--/.container-->
  </div><!--/#content-->
</div><!--/#main-->
