---
layout: wrapper.hbs
layout_script: false
layout_body_class:
- integrations-solutions
visible_title: Optimizely Partners
sub_head: World-class service providers. Empowered customers. Lasting results.
---
<div id="main">
  <div id="page-header">
    <div class="container">
      <h1>{{visible_title}}</h1>
      {{#if sub_head}}<p>{{sub_head}}</p>{{/if}}
    </div><!--/.container-->
  </div><!--/#page-header-->
  <div id="page-header-gradient"></div>
  <div id="page-content">
    <div class="container ugc">
      <div class="columns twelve">
        <div class="row single-partner-container">
          <div class="columns four">
            <div class="partners-back">
              {{#if page.data.solutions }}
                <a href="{{linkPath}}/partners/solutions">&lt; See all Solutions Partners</a>
              {{else}}
                <a href="{{linkPath}}/partners/integrations">&lt; See all Integrations Partners</a>
              {{/if}}
            </div>

            <div class="partners-logo" style="background-image: url('{{logo}}');"></div>

            <div class="partners-link">
              <a href="{{website_link}}">{{website_display}}</a>
            </div>

            <div class="partners-contact">
              {{#each page.data.locations}}
                <div class="partners-location">
                  {{#if this.location.phone}}{{this.location.phone}} <br />{{/if}}
                  {{#if this.location.email}}<a href="mailto:{{this.location.email}}">{{this.location.email}}</a> <br />{{/if}}
                  <br />
                  {{#if this.location.address1}}{{this.location.address1}} <br />{{/if}}
                  {{#if this.location.address2}}{{this.location.address2}} <br />{{/if}}
                  {{#if this.location.city}}{{this.location.city}}, {{/if}}{{#if this.location.state}}{{this.location.tate}} {{/if}}{{this.location.zip}}<br />
                  {{#if this.location.country}}{{this.location.country}} <br />{{/if}}
                </div>
              {{/each}}
            </div>

            {{#if languages}}
              <div class="partners-languages">
                <strong>LANGUAGES</strong> <br />
                {{#eachNoTrailing languages ", "}}{{.}}, {{/eachNoTrailing}}
              </div>
            {{/if}}
          </div>
          <div class="columns eight">
            <h4>{{title}}</h4>

            <div class="level">
              {{#if page.data.solutions }}
                {{#if stars}}
                  <div class="level-heading">Partner Level: <span class="tooltip-hover" data-content="lorem ipsum dolor">?</span></div>
                  <div class="star-cont {{#if stars}}star-cont--{{stars}}{{/if}} star-left"></div>
                {{/if}}
              {{/if}}
            </div>

            {{#markdown}}
              {{> body}}
            {{/markdown}}

            {{#if page.tags}}
            <div class="partners-tags">
              {{#eachNoTrailing page.tags ", </span>"}}<span>{{this}}, </span>{{/eachNoTrailing}}
            </div>
            {{/if}}

            {{#if kb_article}}
            <a class="button" href="{{kb_article}}">
              Read Knowlege Base Article
            </a>
            {{/if}}
          </div>
        </div>
      </div>
    </div><!--/.container-->
  </div><!--/#content-->
</div><!--/#main-->
