---
layout_modals:
- signin_modal_compiled
- signup_modal_compiled
- create_experiment_compiled
---
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        {{#if environmentVariables.production}}
        <!-- Chartbeat -->
        <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
        {{/if}}
        <script src="{{assetsDir}}/js/libraries/jquery-2.1.1.min.js"></script>
        <script>
            window.optly_q = [];
            window.analytics=window.analytics||[];
        </script>
        <script>
window.optly=window.optly||{},window.optly.mrkt=window.optly.mrkt||{},window.optly.mrkt.services=window.optly.mrkt.services||{},window.optly.mrkt.user=window.optly.mrkt.user||{},window.optly.mrkt.services.xhr={makeRequest:function(t,e){var r,i=[];if(Array.isArray(t)){for(var s=0;s<t.length;s+=1)"object"==typeof t[s]&&(r=$.ajax({type:t[s].type,url:t[s].url}),void 0!==t[s].properties&&this.handleErrors(r,t[s].url,t[s].properties),i.push(r));return void 0!==e&&this.resolveDeffereds(i,e),i}return r=$.ajax({type:t.type,url:t.url}),void 0!==t.properties&&this.handleErrors(r,t.url,t.properties),r},logSegmentError:function(t,e,r){window.analytics.track(t,{category:e,label:r})},validateTypes:function(t,e,r){var i;$.each(e,function(s,n){"object"!=typeof n?typeof t[s]!==n&&(i="resp."+s+" is not a "+n+": "+typeof t[s],this.logSegmentError(r,"api error",i)):this.validateNestedTypes(t[s],e[s],s,n,r)}.bind(this))},validateNestedTypes:function(t,e,r,i,s){var n,o;Array.isArray(t)?$.each(t,function(t,i){$.each(e,function(t,e){o=typeof i[t],o!==e&&(n="resp."+r+"."+t+" is not a "+e+": "+o,this.logSegmentError(s,"api error",n))}.bind(this))}.bind(this)):$.each(i,function(e,i){o=typeof t[e],o!==i&&(n="resp."+r+"."+e+" is not a "+i+": "+o,this.logSegmentError(s,"api error",n))}.bind(this))},handleErrors:function(t,e,r){var i,s;t.always(function(t,n,o){if(this.isPromise(o)&&200===o.status){try{i=$.parseJSON(o.responseText)}catch(a){return this.logSegmentError(e,"api error","response contains invalid json "+a),void 0}this.validateTypes(i,r,e)}else{if(this.isPromise(t)&&200===t.status)try{i=$.parseJSON(t.responseText)}catch(a){s=a+", Response Text: "+t.responseText+", Status Text: "+t.statusText+", Status: "+t.status}void 0===s&&(s="Response Text: "+t.responseText+", Status Text: "+t.statusText+", Status: "+t.status),this.logSegmentError(e,"api error",s)}}.bind(this))},isPromise:function(t){if("function"!=typeof t.then)return!1;var e=String($.Deferred().then),r=String(t.then);return e===r},resolveDeffereds:function(t,e){var r,i=[];return $.when.apply($,t).done(function(){var t=Array.prototype.slice.call(arguments);$.each(t,function(s,n){var o=n[0];this.isPromise(o)||"success"!==n[1]||i.push(o),s===t.length-1&&(r=window.optly_q,window.optly.mrkt.user={account:i[0],experiments:i[1]},window.optly_q=new e(i[0],i[1]),window.optly_q.push(r))}.bind(this))}.bind(this)),!0},readCookie:function(t){t=t.replace(/([.*+?^=!:${}()|[\]\/\\])/g,"\\$1");var e=new RegExp("(?:^|;)\\s?"+t+"=(.*?)(?:;|$)","i"),r=document.cookie.match(e);return r&&window.unescape(r[1])},getLoginStatus:function(t,e){var r;return this.readCookie("optimizely_signed_in")?r=this.makeRequest(t,e):void 0}},function(){"use strict";var t,e,r=function(t,e){this.acctData=t,this.expData=e,this.transformQuedArgs=function(t){$.each(t,function(e,r){void 0!==this[r]&&(t[e]=this[r])}.bind(this))},this.parseQ=function(t,e){var r;if("function"==typeof t[e])r=t.slice(1),this.transformQuedArgs(r),t[e].apply(t[e],r);else for(var i=0;i<t[e].length;i+=1)"function"==typeof t[e][i]&&(r=t[e].slice(1),this.transformQuedArgs(r),t[e][i].apply(t[e][i],r))},this.push=function(t){for(var e=0;e<t.length;e+=1)this.parseQ(t,e)},this.userData={account:this.acctData,experiments:this.expData}};return t={type:"GET",url:"/account/info",properties:{email:"string",account_id:"number"}},e={type:"GET",url:"/experiment/load_recent?max_experiments=5",properties:{experiments:{id:"number",description:"string",has_started:"boolean",can_edit:"boolean"}}},window.optly.mrkt.services.xhr.getLoginStatus([t,e],r)}();
</script>
        <script src="//cdn.optimizely.com/js/{{environmentVariables.optimizelyProjectID}}.js"></script>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {{#if environmentVariables.staging}}<meta name="robots" content="noindex">{{/if}}
        <title>Optimizely:{{#if page.seo_title}} {{page.seo_title}}{{else}} A/B testing software you'll actually use{{/if}}</title>
        {{!-- Standard meta tags --}}
        <meta name="description" content="{{#if page.description}}{{page.description}}{{else}}Improve conversions through A/B Testing, Split Testing and Multivariate Testing with Optimizely!{{/if}}">
        <meta name="keywords" content="AB test, split test, multivariate testing, conversion rate">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{!-- Open Graph meta tags --}}
        <meta property="og:title" content="Optimizely:{{#if page.og_title}}{{page.og_title}}{{else}} A/B testing software you'll actually use{{/if}}">
        <meta property="og:description" content="Optimizely:{{#if page.og_description}}{{page.og_description}}{{else}} Improve conversions through A/B Testing, Split Testing and Multivariate Testing with Optimizely!{{/if}}">
        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
        <link rel="stylesheet" href="{{assetsDir}}/css/fonts.css">
        <link rel="stylesheet" href="{{assetsDir}}/css/styles.css">
        <script src="{{assetsDir}}/js/libraries/modernizr.2.8.3.min.js"></script>
        {{#if page.head_script ~}}<script src="{{page.head_script}}"></script>{{/if}}
        <script type="text/javascript">
        window.analytics=window.analytics||[];window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
            window.analytics.load('{{environmentVariables.segmentProjectID}}');
            window.analytics.page();
        </script>
    </head>
     <body class="signed-out{{#if page.compact_header}} compact-header{{/if}}{{#each layout_body_class}} {{.}}{{/each}}{{#each page.body_class}} {{.}}{{/each}}">
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div id="outer-wrapper">
            <div id="inner-wrapper">
                <header>
                    {{#unless page.compact_header}}
                    <div id="top-nav-cont">
                        <div class="container">
                            <div href="#" class="mobile-nav-toggle" id="nav-menu">menu</div>
                            <a href="#" class="user-nav-toggle" id="user-nav-cont">
                                <svg id="user-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
                                    <path id="user-icon-path" d="M94.297,87.489c-0.174-2.581-0.688-8.903-1.735-11.833c-1.351-3.787-3.015-5.489-5.097-6.878  c-1.023-0.683-4.824-2.123-10.503-4.242c-5.161-1.927-11.009-4.112-13.107-5.304c-1.894-1.078-3.355-6.043-3.311-7.594  c0.02-0.074,0.174-0.414,1.279-1.623c2.229-2.435,5.181-7.118,6.394-11.65c1.653-6.183,2.921-18.708-2.806-26.42  c-3.257-4.386-8.325-6.719-15.066-6.934L49.839,5l-0.175,0.011c-6.742,0.215-11.812,2.549-15.07,6.936  c-5.728,7.716-4.457,20.237-2.803,26.42c1.211,4.528,4.154,9.205,6.377,11.634c0.014,0.015,0.029,0.03,0.043,0.045  c0.002,0.003,0.005,0.006,0.008,0.009c0.327,0.358,1.093,1.197,1.257,1.659c0.59,1.664-1.554,6.51-3.323,7.518  c-2.094,1.191-7.945,3.375-13.18,5.33c-5.641,2.107-9.416,3.538-10.432,4.216c-2.081,1.387-3.744,3.087-5.096,6.876  C6.39,78.601,5.875,84.97,5.702,87.571l-0.048,0.724l0.526,0.5C7.711,90.25,15.397,95,50.003,95c34.328,0,42.203-4.8,43.799-6.27  l0.544-0.502L94.297,87.489z"/>
                                </svg>
                            </a>
                            <div id="utility-nav-cont">
                                <ul class="signed-out-content utility-nav nav" data-show-user-state="logged-out">
                                    <li class="first"><a data-modal-click="signup">Sign Up</a></li>
                                    <li class="last"><a data-modal-click="signin">Log In</a></li>
                                </ul><!--/.signed-out-content-->
                                <ul id="signed-in-utility" class="signed-in-content utility-nav nav"></ul><!--/.signed-in-content-->
                            </div><!--/#utility-nav-cont-->
                        </div><!--/.container-->
                    </div><!--/#top-nav-cont-->
                    {{/unless}}
                    <div id="main-nav-cont" class="main-nav">
                        <div class="container">
                            <p class="logo-cont"><a class="logo" href="/">Optimizely</a></p>
                            {{#unless page.compact_header}}
                            <nav>
                                <ul id="main-nav" class="nav">
                                    <li class="first">
                                        <p>Product</p>
                                        <ul>
                                            <li class="first"><a href="{{linkPath}}/benefits">Benefits</a></li>
                                            <li><a href="{{linkPath}}/pricing">Plans and Pricing</a></li>
                                            <li><a href="{{linkPath}}/mobile">Mobile</a></li>
                                            <li><a href="{{linkPath}}/customers">Customer List</a></li>
                                            <li><a href="{{linkPath}}/customers/customer-stories">Customer Stories</a></li>
                                            <li class="last"><a href="{{linkPath}}/resources/live-demo-webinar">Live Demo Signup</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{{linkPath}}/pricing">Pricing</a></li>
                                    <li>
                                        <p>Optiverse</p>
                                        <ul>
                                            <li><a href="https://community.optimizely.com">Community</a></li>
                                            <li><a href="https://help.optimizely.com">Support</a></li>
                                            <li><a href="https://learn.optimizely.com">Academy</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <p>Resources</p>
                                        <ul>
                                            <li><a href="{{linkPath}}/ab-testing">What is A/B testing?</a></li>
                                            <li><a href="{{linkPath}}/split-testing">What is split testing?</a></li>
                                            <li><a href="{{linkPath}}/resources/multivariate-testing">What is multivariate testing?</a></li>
                                            <li><a href="{{linkPath}}/gettingstarted">Gestting Started</a></li>
                                            <li><a href="{{linkPath}}/faq">FAQ</a></li>
                                            <li><a href="http://developers.optimizely.com">Developer platform</a></li>
                                            <li><a href="http://certification.optimizely.com">Certification</a></li>
                                            <li><a href="{{linkPath}}/partners">Solutions Partners</a></li>
                                            <li><a href="http://blog.optimizely.com">Blog</a></li>
                                        </ul>
                                    </li>
                                    <li class="last"><a href="{{linkPath}}/jobs">Jobs</a></li>
                                </ul><!--#main-nav-->
                            </nav>{{/unless}}
                        </div><!--/container-->
                    </div><!--/#main-nav-cont-->
                </header>
                {{> body }}
                <footer>
                    <div class="container">
                        <p><a class="logo" href="/">Optimizely</a></p>
                        <div id="footer-nav-cont" class="clearfix">
                            <div class="left">
                                <p>&copy 2014, Optimizely. All rights reserved</p>
                                <ul id="legalese" class="clearfix">
                                    <li class="terms"><a href="{{linkPath}}/terms">Terms of Service</a> &nbsp;<span class="separater">|</span></li>
                                    <li><a href="{{linkPath}}/privacy">Privacy Policy</a> &nbsp;<span class="separater">|</span></li>
                                    <li class="security"><a href="{{linkPath}}/security">Security</a></li>
                                </ul>
                                <ul class="social-links">
                                    <li><a href="http://twitter.com/optimizely" class="twitter">Twitter</a></li>
                                    <li><a href="http://www.facebook.com/optimizely" class="facebook">Facebook</a></li>
                                    <li><a href="https://plus.google.com/+optimizely/posts" class="google-plus">Google+</a></li>
                                </ul>
                            </div><!--/.left-->
                            <div class="right">
                                <ul id="footer-nav" class="clearfix">
                                    <li id="footer-nav-features" class="footer-nav-column">
                                        <h4>Product features &amp; benefits</h4>
                                        <ul>
                                            <li><a href="{{linkPath}}/pricing">Plans and pricing</a></li>
                                            <li><a href="{{linkPath}}/benefits">Benefits</a></li>
                                            <li><a href="{{linkPath}}/mobile">iOS beta</a></li>
                                            <li><a href="{{linkPath}}/partners">Optimizely for Angencies</a></li>
                                            <li><a href="http://developers.optimizely.com">Optimizely for Developers</a></li>
                                            <li><a href="{{linkPath}}/ecommerce">Optimizely for e-commerce</a></li>
                                            <li><a href="{{linkPath}}/enterprises">Optimizely for enterprises</a></li>
                                            <li><a href="{{linkPath}}/publishers">Optimizely for publishers</a></li>
                                            <li><a href="{{linkPath}}/small-business">Optimizely for small business</a></li>
                                        </ul>
                                    </li>
                                    <li id="footer-nav-customers" class="footer-nav-column">
                                        <h4>Customers</h4>
                                        <ul>
                                            <li><a href="{{linkPath}}/customers">Customer list</a></li>
                                            <li><a href="{{linkPath}}/customers/customer-stories">Customer stories</a></li>
                                        </ul>
                                    </li>
                                    <li id="footer-nav-resources" class="footer-nav-column">
                                        <h4>Resources</h4>
                                        <ul>
                                            <li><a href="{{linkPath}}/ab-testing">What is a/b testing?</a></li>
                                            <li><a href="{{linkPath}}/split-testing">What is split testing?</a></li>
                                            <li><a href="{{linkPath}}/gettingstarted">Getting started</a></li>
                                            <li><a href="{{linkPath}}/live-demo-webinar">Live demo signup</a></li>
                                            <li><a href="{{linkPath}}/faq">FAQ</a></li>
                                            <li><a href="http://help.optimizely.com">Knowledge base</a></li>
                                            <li><a href="http://developers.optimizely.com">API documentation</a></li>
                                            <li><a href="http://blog.optimizely.com">Blog</a></li>
                                        </ul>
                                    </li>
                                    <li id="footer-nav-about" class="footer-nav-column">
                                        <h4>About</h4>
                                        <ul>
                                            <li><a href="{{linkPath}}/about">About</a></li>
                                            <li><a href="{{linkPath}}/jobs">Jobs</a></li>
                                            <li><a href="{{linkPath}}/press">Press</a></li>
                                            <li><a href="{{linkPath}}/events">Events</a></li>
                                            <li><a href="{{linkPath}}/contact">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li id="footer-nav-other" class="footer-nav-column">
                                        <h4>Other</h4>
                                        <ul>
                                            <li><a href="http://success.optimizely.com">Customer sucess</a></li>
                                            <li><a href="{{linkPath}}/demo">Request a demo</a></li>
                                            <li><a href="{{linkPath}}/opt_out">Opt out</a></li>
                                        </ul>
                                    </li>
                                </ul><!--/#footer-nav-->
                                <ul id="intl-domains">
                                    <li class="first"><a href="https://www.optimizely.dk/" title="Danish">Dansk</a></li>
                                    <li><a href="https://www.optimizely.de/" title="German">Deutsch</a></li>
                                    <li><a href="https://www.optimizely.com/" title="English">English</a></li>
                                    <li><a href="https://www.optimizely.es/" title="Spanish">Español</a></li>
                                    <li><a href="https://www.optimizely.fr/" title="French">Français</a></li>
                                    <li><a href="https://www.optimizely.it/" title="Italian">Italiano</a></li>
                                    <li><a href="https://www.optimizely.jp/" title="Japanese">日本語</a></li>
                                    <li><a href="https://www.optimizely.nl/" title="Dutch">Nederlands</a></li>
                                    <li><a href="https://www.optimizely.pt/" title="Portuguese">Português</a></li>
                                    <li class="last"><a href="https://www.optimizely.se/" title="Swedish">Svenska</a></li>
                                </ul><!--/#intl-domain-->
                            </div><!--/.right-->
                        </div><!--/#footer-nav-cont-->
                    </div><!--/.container-->
                </footer>
            </div><!--/#inner-wrapper-->
        </div><!--/#outer-wrapper-->
        <div id="tooltip" class="optly-hide"></div>
        {{~#if layout_modals~}}
        {{~includeModals layout_modals~}}
        {{~/if}}
        {{~#if page.modals~}}
        {{~includeModals page.modals~}}
        {{~/if}}
        <script>
          var optly = optly || {};
          optly.mrkt = optly.mrkt || {};
          optly.mrkt.assetsDir = '{{assetsDir}}';
        </script>
        <script src="{{assetsDir}}/js/bundle.js" defer></script>
        {{#if page.script_dependencies}}
        {{#each page.script_dependencies}}
        <script src="{{.}}" defer></script>
        {{/each}}
        {{/if}}
        {{#if layout_script}}
        <script src="{{assetsDir}}/js/layouts/{{layout_script}}" defer></script>
        {{~/if}}
        {{#if page.page_script}}
        <script src="{{assetsDir}}/js/pages/{{page.page_script}}" defer></script>
        {{/if}}
        {{#if environmentVariables.production}}
        <script id="bizible-settings" type="text/javascript" src="//cdn.bizible.com/_biz-a.js" async data-attach-secure-forms="true"></script>
        {{/if}}
    </body>
</html>
