---
layout: customers.hbs
seo_title: "Optimizely: Customer Stories"
visible_title: "Customer Stories"
no_container: true
subnav_first: "customers"
subnav_last: "customers/customer-stories"
page_script: customer-stories.js
body_class:
- customer-stories-page
---
<div id="customer-stories-content">
  <div class="container">
    <div class="row top-content">
      {{#if customer_stories_data.featured_video}}
        <div class="columns two-thirds">
          <div class="video-container">
            <iframe width="100%" height="100%" src="//www.youtube.com/embed/{{customer_stories_data.featured_video.youtube_id}}" frameborder="0" allowfullscreen></iframe>
          </div>
        </div><!--/.columns-->
        <div class="columns one-third">
          <h2>{{customer_stories_data.featured_video.header}}</h2>
          <p>{{customer_stories_data.featured_video.body}}</p>
        </div>
      {{/if}}
    </div><!--/.row-->
  </div>
  <div class="case-studies-bg-container">
    <div class="case-studies-container container">
      {{#each customer_stories_data.customer_stories}}
        {{#classgridstart @index}}
          <div class="row">
        {{/classgridstart}}
            <div class="columns one-third customer-grid-elm">
              <div class="title-container">
                {{{formatPercentHeader header 'percent'}}}
              </div> <!-- .title-container -->
              <div class="customer-inner-content">
                <img src="{{logo_url}}"/>
                <p>{{body}}</p>
                <div class="button-container">
                  <a href="{{download_url}}" target="_blank" class="button small">Download</a>
                </div>
              </div>
            </div> <!-- .customer-grid-elm -->
        {{#classgridfinish @index @last}}
          </div>
        {{/classgridfinish}}
      {{/each}}
    </div> <!-- .case-studies-container -->
  </div> <!-- .case-studies-bg-container -->
  {{#if customer_stories_data.call_to_action}}
  <div class="case-studies-cta container">
    <div class="callout">
        <h3>{{customer_stories_data.call_to_action.header}}</h3>
        <p>{{customer_stories_data.call_to_action.body}}</p>
        <!-- TODO: create endpoint -->
        <a href="mailto:content@optimizely.com" class="primary-button">{{customer_stories_data.call_to_action.button_text}}</a>
    </div>
  </div>
  {{/if}}
</div><!--#customer-stories-content -->
