---
layout: about.hbs
no_container: true
seo_title: Press
visible_title: Press
page_script: press.js
body_class:
- press-page
---
<div class="sheet">
	<h4 class="sheet-headline" id="press-intro">{{{press.page_intro}}}</h4>
	<div>
		<article id="press-mentions">
			<h3>{{press.left_column_header}}</h3>
			{{#each press_mentions.items}}
			<div class="press-feed-item" {{#compare @index '>=' 20}}style="display: none;"{{/compare}}>
				<img src="{{logo_url}}">
				<time datetime="{{formatDate story_date "%Y-%m-%d"}}">{{formatDate story_date "%b. %Y"}}</time>
				<h4 class="press-article-headline"><a href="{{link_to_story}}" target="_blank">{{story_title}}</a></h4>
	    </div><!--/.press-feed-item-->
	    {{/each}}
	    <div class="show-more secondary-button">Show More</div>
	    <div class="hide-more secondary-button">Hide More</div>
		</article><!--/#press-mentions-->
		<aside id="press-info">
			{{#if press.press_kit}}
			<div id="press-kit">
				<h3 class="heading-underline">{{press.press_kit.header}}</h3>
				{{#each press.press_kit.items}}
				<p>{{{.}}}</p>
				{{/each}}
			</div><!--/#press-kit-->
			{{/if}}
			{{#if press.press_releases}}
			<div id="press-releases">
				<h3>{{press.press_releases.header}}</h3>
				<ul>
					{{#each press_releases.items}}
					<li>
						<time datetime="{{formatDate release_date "%Y-%m-%d"}}">{{formatDate release_date "%b %Y"}}</time>
						<p><a href="{{link_to_release}}" target="_blank">{{release_title}}</a></p>
					</li>
					{{/each}}
				</ul>
			</div>
			{{/if}}
			{{#if press.press_inquiries}}
			<div id="press-inquiries">
				<h3>{{press.press_inquiries.header}}</h3>
				<p>{{{press.press_inquiries.body}}}</p>
			</div>
			{{/if}}
			{{#if press.company_information}}
			<div id="company-information">
				<h3>{{press.company_information.header}}</h3>
				<p><strong>Location:</strong>{{#each company_info.locations}}<br>{{.}}{{/each}}</p>
				<p><strong>Founded:</strong> {{company_info.founded}}</p>
				<p><strong>Size:</strong> {{company_info.employee_count}}</p>
				<h3>Investors</h3>
				<p><strong>Venture:</strong> {{#eachNoTrailing company_info.venture ", "}}{{.}}, {{/eachNoTrailing}}</p>
				<p><strong>Angels:</strong> {{#eachNoTrailing company_info.angels ", "}}{{.}}, {{/eachNoTrailing}}</p>
			</div>
			{{/if}}
			{{#if press.blog}}
			<div id="optimizely-blog">
				<h3>{{press.blog.header}}</h3>
				<p>{{{press.blog.body}}}</p>
			</div>
			{{/if}}
		</aside><!--/#press-info-->
	</div><!--/#press-content-->
	{{#if press.follow_the_latest}}
	<div id="follow-latest">
		<p>{{press.follow_the_latest.header}}</p>
		<ul>
			{{#each press.follow_the_latest.items}}
			<li>{{{.}}}</li>
			{{/each}}
		</ul>
	</div>
	{{/if}}
</div><!--/.sheet-->
