---
layout: about.hbs
seo_title: Press
visible_title: Press
body_class: press-page
---
<div class="container sheet">
	<h4 class="sheet-headline">Keep up to date with how Optimizely is enabling businesses to build better web experiences. You can also get the latest from us via <a href="http://www.twitter.com/optimizely" title="Optimizely on Twitter">Twitter</a>, <a href="http://www.facebook.com/optimizely" title="Optimizely on Facebook">Facebook</a>, and <a href="https://plus.google.com/113842166556345533815/posts" title="Optimizely on Google Plus">Google+</a>. Please contact us for <a href="mailto:press@optimizely.com">press inquiries</a> or <a href="/partners">partnership inquiries</a>.</h4>
	<div class="row">
		<div class="columns eight" id="press-mentions">
			<h3>News</h3>
			{{#each pressMentions.items}}
			<div class="press-feed-item">
				<img src="{{logoUrl}}">
				<time datetime="{{formatDate storyDate "%Y-%m-%d"}}">{{formatDate storyDate "%b. %Y"}}</time>
				<h4 class="press-article-headline"><a href="{{linkToStory}}">{{storyTitle}}</a></h4>
		    </div><!--/.press-feed-item-->
		    {{/each}}
		</div><!--/.columns-->
		<div class="columns four">
			<h3 class="heading-underline">Press Kit</h3>
			<p><a class="link-download" href="https://s3.amazonaws.com/optimizely-marketing/OptimizelyPressKit.zip" title="Download our press kit">Download Optimizely Logos</a></p>
			<p><a class="link-download" href="http://www.scribd.com/doc/197409519/Fact-Sheet" title="Download our fact sheet">Download Fact Sheet</a></p>
			<h3>Press Releases</h3>
			<ul>
				{{#each pressReleases.items}}
				<li>
					<time datetime="{{formatDate releaseDate "%Y-%m-%d"}}">{{formatDate releaseDate "%b %Y"}}</time>
					<p><a href="{{linkToRelease}}" target="_blank">{{releaseTitle}}</a></p>
				</li>
				{{/each}}
			</ul>
		</div><!--/.columns-->
	</div><!--/.row-->
</div>