---
layout: pricing.hbs
seo_title: Pricing
visible_title: Plans and Pricing
body_class:
- pricing
---

<div class="row">
  <div class="columns twelve pill-cont">
    <p>Your current plan is <span>gold</span></p>
    <div class="pill">
      <a href="#" class="active">Month-to-Month</a>
      <a href="#">One Year (10% off)</a>
      <a href="#">Two Years (25% off)</a>
    </div>
  </div>
</div>

<div class="price-table">
  <div class="pricing-col-wrapper main-info">
  {{#each pricing.levels}}
    <div class="pricing-col">
      <div class="box">
        <h2>{{ title }}</h2>
        {{#notEqual title 'Platinum' }}
        <h3 class="pricing--trial-text">
          30 day free trial then
          <span><sup>$</sup>{{monthly_price}}</span>
          per month after trial period
        </h3>
        <h4>{{ save_text }}</h4>
        <div class="button-cont">
          <a class="button" href="#">Get Started</a>
        </div>
        {{/notEqual}}
        {{#equal title 'Platinum' }}
        <h3 class="pricing--trial-text platinum">
          <span>Get a Demo</span>
          1-800-252-9480
        </h3>
        <div class="button-cont">
          <a class="button" href="#">Schedule Demo</a>
        </div>
        {{/equal}}
      </div>
      <div class="box">
        <p>{{addCommas monthly_visitors}} monthly visitors</p>
        <p>{{ cost_additional_visitors }}</p>
      </div>
      <div class="box">
        <p>{{number_experiments}}</p>
      </div>
    </div>
  {{/each}}
  </div>

  <h2 class="block-header">Platforms</h2>

  <div class="pricing-col-wrapper">
  {{#each pricing.levels}}
    <div class="pricing-col">
      <div class="box">
        <p>Web and Mobile Web</p>
      </div>
      <div class="box">
        <p>iOS (Beta)</p>
      </div>
    </div>
  {{/each}}
  </div>

  <h2 class="block-header">Features<sup>1</sup></h2>

  <div class="pricing-col-wrapper">
  {{#each pricing.levels}}
    <div class="pricing-col">
      {{#features}}
      <div class="box">
        <p>{{this.feature.value}}
          {{#if this.feature.tooltip}}
          <span class="tooltip-hover" data-content="{{ this.feature.tooltip }}">?</span>
          {{/if}}
        </p>
      </div>
      {{/features}}
    </div>
  {{/each}}
  </div>

   <h2 class="block-header">Account Management</h2>


  <div class="pricing-col-wrapper">
  {{#each pricing.levels}}
    <div class="pricing-col">
      {{#account_management}}
      <div class="box">
        <p>{{this.item.value}}
          {{#if this.item.tooltip}}
          <span class="tooltip-hover" data-content="{{ this.item.tooltip }}">?</span>
          {{/if}}
        </p>
      </div>
      {{/account_management}}
    </div>
  {{/each}}
  </div>


  <h2 class="block-header">Support & Customer Service <sup>2</sup></h2>

  <div class="pricing-col-wrapper">
  {{#each pricing.levels}}
    <div class="pricing-col">
     {{#support}}
     <div class="box">
       <p>{{this}}</p>
     </div>
     {{/support}}
    </div>
  {{/each}}
  </div>
</div>
